Business/Service References/Imtimely_ShortURL/ShortURLService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShortURLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://url.goldwg.com/WCF/ShortURLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://url.goldwg.com/WCF/ShortURLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://url.goldwg.com/WCF/ShortURLService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShortURLService_GetURL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetURL" />
  </wsdl:message>
  <wsdl:message name="IShortURLService_GetURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetURLResponse" />
  </wsdl:message>
  <wsdl:message name="IShortURLService_DeleteShortURL_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortURL" />
  </wsdl:message>
  <wsdl:message name="IShortURLService_DeleteShortURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortURLResponse" />
  </wsdl:message>
  <wsdl:portType name="IShortURLService">
    <wsdl:operation name="GetURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IShortURLService/GetURL" message="tns:IShortURLService_GetURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShortURLService/GetURLResponse" message="tns:IShortURLService_GetURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShortURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IShortURLService/DeleteShortURL" message="tns:IShortURLService_DeleteShortURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShortURLService/DeleteShortURLResponse" message="tns:IShortURLService_DeleteShortURL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShortURLService" type="tns:IShortURLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetURL">
      <soap:operation soapAction="http://tempuri.org/IShortURLService/GetURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShortURL">
      <soap:operation soapAction="http://tempuri.org/IShortURLService/DeleteShortURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShortURLService">
    <wsdl:port name="BasicHttpBinding_IShortURLService" binding="tns:BasicHttpBinding_IShortURLService">
      <soap:address location="http://url.goldwg.com/WCF/ShortURLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>